  <!-- footer -->
  <footer class="dark-section d-flex flex-column align-items-center justify-content-align-items-center">

    <br><br><br><br><br><br>
    <div class=" d-flex flex-wrap align-items-start justify-content-start">
      <img class="footer-logo"src="/assets/images/nav-icon.png" alt="logo">
      <p style="font-size: 1.7rem;">| MALGOJ</p>
    </div>

    <div class="icons-social-media d-flex flex-wrap align-items-center justify-content-center ">
      <a href="https://github.com/MALGOJ" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/malgoj" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/manuel_gomezj/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
    <div class="copyright"> MALGOJ | copyright &#169; 2023</div>
  </footer>

