
<body>

 <!-- section main hero -->
<section class="hero light-section align-items-stretch">
<div class="container-fluid text-center">    <!-- container -->
  <div class="row">   <!-- row -->

    <div class="col-12 col-md-4">
        <img src="/assets/images/profile.png" class="circle" alt="profile photo">
    </div>

    <div class="col-12 col-md-8">
      <br><br><br><br>
        <h1 class= "d-flex flex-wrap justify-content-center align-items-center">
          What's up? I'm Manuel Gómez, software developer
        </h1>
        <h4>HTML,CSS,JAVASCRIPT,ANGULAR,NODEJS-EXPRESS,SQL SERVER,POSTGRESQL</h4>
        <br>
          <a href="../../assets/docs/CVManuelGomezJimenez.pdf" download="CVManuelGomezJimenez.pdf">
            <button type="button" class="btn btn-outline-dark">Download CV!</button>
          </a>
    </div>
  </div>
</div>
</section>


 <!-- section about me -->
<section id="about-me" class="about_me light-section">
  <div class="container-fluid">
    <div>
      <h1>About me</h1>
      <p>I'm a Backend oriented developer,
        committed, proactive, I love to bring
        value to the work groups, learn new
        technologies and it is easy for me to
        appropriate them quickly, eager to improve
        every day by testing myself in the various
        challenges I take on.</p>
    </div>
  </div>
</section>

 <!-- section skills-->
 <section id="skill" class="skills dark-section">
  <div class=" container-fluid">
    <div class="row">
      <h1 class="text-center">Skills</h1>
      <br><br><br><br>
      <div class="col-12 col-md-3 d-flex flex-wrap justify-content-center align-items-center">
        <img src="/assets/images/Html5-JS-css-logos (1).png" alt="logohtml">
        <h2>Html CSS Javascript</h2>
      </div>
      <div class="col-12 col-md-3 d-flex flex-wrap justify-content-center align-items-center">
        <img src="/assets/images/logonodejs (1).png" alt="logonode">
        <h2>Nodejs-Express</h2>
      </div>
      <div class="col-12 col-md-3 d-flex flex-wrap justify-content-center align-items-center">
        <img src="/assets/images/logsql.png" style="border-radius: 10%;" alt="logosql">
        <h2>SQLServer/PostsgreSQL</h2>
      </div>
      <div class="col-12 col-md-3 d-flex flex-wrap justify-content-center align-items-center">
        <img src="/assets/images/logo_git (1).png" alt="logogit">
        &nbsp;
        <img src="/assets/images/GitHub (1).png" alt="logithub">
        <h2>GIT/Github</h2>
      </div>
    </div>
  </div>
 </section>

  <!-- section formation -->
  <section id="formation" class="formation light-section">
    <br><br>
    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center">Academic Formation</h1>
        <br>
        <div class="col-12 col-md-6 d-flex flex-wrap justify-content-center align-items-center">
            <div class="card" style="height: 22rem; width: 15rem; padding: 10px;">
              <img src="/assets/images/logosimbolo-30-anos-ucundinamarca.png" alt="UCundinamarca" class="card-img-top">
              <div class="card-body">
               <h5 class="card-title">Ingeniería de Sistemas</h5>
               <p class="card-text">I am currently studying systems engineering at the Universidad de Cundinamarca, sixth semester.</p>
               <a href="https://www.ucundinamarca.edu.co" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">Go somewhere</a>
              </div>
            </div>
        </div>

        <div class="col-12 col-md-6 d-flex flex-wrap justify-content-center align-items-center">
          <div class="card  d-flex flex-wrap justify-content-center align-items-center" style="height: 22rem; width: 15rem; padding: 10px;">
            <img src="/assets/images/Platzi.png" style="height: 90px; width: 90px;" class="card-img-top " alt="logoPlatzi">
            <div class="card-body">
             <h5 class="card-title">Software Developer</h5>
             <p class="card-text">I have been studying online courses at Platzi which have allowed me to advance in my professional training.</p>
             <a href="https://platzi.com" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <br><br><br><br>
  </section>

  <!-- section proyects -->
  <!-- componente de proyects  -->

  <!-- contac me  -->
  <section id="contact" class="conctact dark-section">
    <div class="container">
      <div class="container text-center rectangulo d-flex justify-content-evenly">
        <div class="row">
          <div class="talk col-12 col-md-4 ">
            Let's talk!
          </div>
          <div class="col-12 col-md-4 description">
            Do you think I can bring value to you? Contact me and let's build something great!
          </div>
          <div class=" col-12 col-md-4">
            <a href="mailto: jimenezmanuelalejandro57@gmail.com ">
              <button type="button" class="btn btn-outline-dark" >Contact <i class="bi bi-envelope-at-fill"></i></button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
